<!-- AddDepartment.razor -->
@page "/addDept"
@inherits AddDepartmentBase

<head>
    <link rel="stylesheet" href="css/Style2.css" />
</head>

<h3>Add Department</h3>

<EditForm Model="@addDepartment" OnValidSubmit="AddDepartment" class="edit-form">
    <DataAnnotationsValidator />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="DepartmentName" class="form-label">Department Name:</label>
                <input id="DepartmentName" class="form-control" @bind="addDepartment.DepartmentName" />
                @if (string.IsNullOrWhiteSpace(addDepartment.DepartmentName))
                {
                    <div class="d-flex align-items-center">
                        <span class="fw-bold" style="font-size: 0.9rem;"><ValidationMessage For="@(() => addDepartment.DepartmentName)" /></span>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Location" class="form-label">Location:</label>
                <input id="Location" class="form-control" @bind="addDepartment.Location" />
                @if (string.IsNullOrWhiteSpace(addDepartment.Location))
                {
                    <div class="d-flex align-items-center">
                        <span class="fw-bold" style="font-size: 0.9rem;"><ValidationMessage For="@(() => addDepartment.Location)" /></span>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="Manager" class="form-label">Manager:</label>
        <input id="Manager" class="form-control" @bind="addDepartment.Manager" />
        @if (string.IsNullOrWhiteSpace(addDepartment.Manager))
        {
            <div class="d-flex align-items-center">
                <span class="fw-bold" style="font-size: 0.9rem;"><ValidationMessage For="@(() => addDepartment.Manager)" /></span>
            </div>
        }
    </div>

    <div class="d-flex flex-column align-items-center mt-3">
        <div class="d-flex flex-column flex-md-row align-items-center">
            <button class="btn btn-primary mb-2" type="submit">Add Department</button>
        </div>
    </div>
</EditForm>
